[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
ttfautohint-py = "*"
afdko = "*"
fonttools = "*"
hellbox-fontmake = "*"
hellbox = "*"
hellbox-dsig = "*"

[requires]
python_version = "3.7.3"
