<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.mod01</key>
	<string>A_.mod01.glif</string>
	<key>A.mod02</key>
	<string>A_.mod02.glif</string>
	<key>A.mod03</key>
	<string>A_.mod03.glif</string>
	<key>A.mod04</key>
	<string>A_.mod04.glif</string>
	<key>A.mod05</key>
	<string>A_.mod05.glif</string>
	<key>A.mod06</key>
	<string>A_.mod06.glif</string>
	<key>A.mod07</key>
	<string>A_.mod07.glif</string>
	<key>A.mod08</key>
	<string>A_.mod08.glif</string>
	<key>A.mod09</key>
	<string>A_.mod09.glif</string>
	<key>A.mod10</key>
	<string>A_.mod10.glif</string>
	<key>A.mod11</key>
	<string>A_.mod11.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.mod01</key>
	<string>B_.mod01.glif</string>
	<key>B.mod02</key>
	<string>B_.mod02.glif</string>
	<key>B.mod03</key>
	<string>B_.mod03.glif</string>
	<key>B.mod04</key>
	<string>B_.mod04.glif</string>
	<key>B.mod05</key>
	<string>B_.mod05.glif</string>
	<key>B.mod06</key>
	<string>B_.mod06.glif</string>
	<key>B.mod07</key>
	<string>B_.mod07.glif</string>
	<key>B.mod08</key>
	<string>B_.mod08.glif</string>
	<key>B.mod09</key>
	<string>B_.mod09.glif</string>
	<key>B.mod10</key>
	<string>B_.mod10.glif</string>
	<key>B.mod11</key>
	<string>B_.mod11.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.mod01</key>
	<string>C_.mod01.glif</string>
	<key>C.mod02</key>
	<string>C_.mod02.glif</string>
	<key>C.mod03</key>
	<string>C_.mod03.glif</string>
	<key>C.mod04</key>
	<string>C_.mod04.glif</string>
	<key>C.mod05</key>
	<string>C_.mod05.glif</string>
	<key>C.mod06</key>
	<string>C_.mod06.glif</string>
	<key>C.mod07</key>
	<string>C_.mod07.glif</string>
	<key>C.mod08</key>
	<string>C_.mod08.glif</string>
	<key>C.mod09</key>
	<string>C_.mod09.glif</string>
	<key>C.mod10</key>
	<string>C_.mod10.glif</string>
	<key>C.mod11</key>
	<string>C_.mod11.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.mod01</key>
	<string>D_.mod01.glif</string>
	<key>D.mod02</key>
	<string>D_.mod02.glif</string>
	<key>D.mod03</key>
	<string>D_.mod03.glif</string>
	<key>D.mod04</key>
	<string>D_.mod04.glif</string>
	<key>D.mod05</key>
	<string>D_.mod05.glif</string>
	<key>D.mod06</key>
	<string>D_.mod06.glif</string>
	<key>D.mod07</key>
	<string>D_.mod07.glif</string>
	<key>D.mod08</key>
	<string>D_.mod08.glif</string>
	<key>D.mod09</key>
	<string>D_.mod09.glif</string>
	<key>D.mod10</key>
	<string>D_.mod10.glif</string>
	<key>D.mod11</key>
	<string>D_.mod11.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.mod01</key>
	<string>E_.mod01.glif</string>
	<key>E.mod02</key>
	<string>E_.mod02.glif</string>
	<key>E.mod03</key>
	<string>E_.mod03.glif</string>
	<key>E.mod04</key>
	<string>E_.mod04.glif</string>
	<key>E.mod05</key>
	<string>E_.mod05.glif</string>
	<key>E.mod06</key>
	<string>E_.mod06.glif</string>
	<key>E.mod07</key>
	<string>E_.mod07.glif</string>
	<key>E.mod08</key>
	<string>E_.mod08.glif</string>
	<key>E.mod09</key>
	<string>E_.mod09.glif</string>
	<key>E.mod10</key>
	<string>E_.mod10.glif</string>
	<key>E.mod11</key>
	<string>E_.mod11.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.mod01</key>
	<string>F_.mod01.glif</string>
	<key>F.mod02</key>
	<string>F_.mod02.glif</string>
	<key>F.mod03</key>
	<string>F_.mod03.glif</string>
	<key>F.mod04</key>
	<string>F_.mod04.glif</string>
	<key>F.mod05</key>
	<string>F_.mod05.glif</string>
	<key>F.mod06</key>
	<string>F_.mod06.glif</string>
	<key>F.mod07</key>
	<string>F_.mod07.glif</string>
	<key>F.mod08</key>
	<string>F_.mod08.glif</string>
	<key>F.mod09</key>
	<string>F_.mod09.glif</string>
	<key>F.mod10</key>
	<string>F_.mod10.glif</string>
	<key>F.mod11</key>
	<string>F_.mod11.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.mod01</key>
	<string>G_.mod01.glif</string>
	<key>G.mod02</key>
	<string>G_.mod02.glif</string>
	<key>G.mod03</key>
	<string>G_.mod03.glif</string>
	<key>G.mod04</key>
	<string>G_.mod04.glif</string>
	<key>G.mod05</key>
	<string>G_.mod05.glif</string>
	<key>G.mod06</key>
	<string>G_.mod06.glif</string>
	<key>G.mod07</key>
	<string>G_.mod07.glif</string>
	<key>G.mod08</key>
	<string>G_.mod08.glif</string>
	<key>G.mod09</key>
	<string>G_.mod09.glif</string>
	<key>G.mod10</key>
	<string>G_.mod10.glif</string>
	<key>G.mod11</key>
	<string>G_.mod11.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.mod01</key>
	<string>H_.mod01.glif</string>
	<key>H.mod02</key>
	<string>H_.mod02.glif</string>
	<key>H.mod03</key>
	<string>H_.mod03.glif</string>
	<key>H.mod04</key>
	<string>H_.mod04.glif</string>
	<key>H.mod05</key>
	<string>H_.mod05.glif</string>
	<key>H.mod06</key>
	<string>H_.mod06.glif</string>
	<key>H.mod07</key>
	<string>H_.mod07.glif</string>
	<key>H.mod08</key>
	<string>H_.mod08.glif</string>
	<key>H.mod09</key>
	<string>H_.mod09.glif</string>
	<key>H.mod10</key>
	<string>H_.mod10.glif</string>
	<key>H.mod11</key>
	<string>H_.mod11.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.mod01</key>
	<string>I_.mod01.glif</string>
	<key>I.mod02</key>
	<string>I_.mod02.glif</string>
	<key>I.mod03</key>
	<string>I_.mod03.glif</string>
	<key>I.mod04</key>
	<string>I_.mod04.glif</string>
	<key>I.mod05</key>
	<string>I_.mod05.glif</string>
	<key>I.mod06</key>
	<string>I_.mod06.glif</string>
	<key>I.mod07</key>
	<string>I_.mod07.glif</string>
	<key>I.mod08</key>
	<string>I_.mod08.glif</string>
	<key>I.mod09</key>
	<string>I_.mod09.glif</string>
	<key>I.mod10</key>
	<string>I_.mod10.glif</string>
	<key>I.mod11</key>
	<string>I_.mod11.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.mod01</key>
	<string>J_.mod01.glif</string>
	<key>J.mod02</key>
	<string>J_.mod02.glif</string>
	<key>J.mod03</key>
	<string>J_.mod03.glif</string>
	<key>J.mod04</key>
	<string>J_.mod04.glif</string>
	<key>J.mod05</key>
	<string>J_.mod05.glif</string>
	<key>J.mod06</key>
	<string>J_.mod06.glif</string>
	<key>J.mod07</key>
	<string>J_.mod07.glif</string>
	<key>J.mod08</key>
	<string>J_.mod08.glif</string>
	<key>J.mod09</key>
	<string>J_.mod09.glif</string>
	<key>J.mod10</key>
	<string>J_.mod10.glif</string>
	<key>J.mod11</key>
	<string>J_.mod11.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.mod01</key>
	<string>K_.mod01.glif</string>
	<key>K.mod02</key>
	<string>K_.mod02.glif</string>
	<key>K.mod03</key>
	<string>K_.mod03.glif</string>
	<key>K.mod04</key>
	<string>K_.mod04.glif</string>
	<key>K.mod05</key>
	<string>K_.mod05.glif</string>
	<key>K.mod06</key>
	<string>K_.mod06.glif</string>
	<key>K.mod07</key>
	<string>K_.mod07.glif</string>
	<key>K.mod08</key>
	<string>K_.mod08.glif</string>
	<key>K.mod09</key>
	<string>K_.mod09.glif</string>
	<key>K.mod10</key>
	<string>K_.mod10.glif</string>
	<key>K.mod11</key>
	<string>K_.mod11.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.mod01</key>
	<string>L_.mod01.glif</string>
	<key>L.mod02</key>
	<string>L_.mod02.glif</string>
	<key>L.mod03</key>
	<string>L_.mod03.glif</string>
	<key>L.mod04</key>
	<string>L_.mod04.glif</string>
	<key>L.mod05</key>
	<string>L_.mod05.glif</string>
	<key>L.mod06</key>
	<string>L_.mod06.glif</string>
	<key>L.mod07</key>
	<string>L_.mod07.glif</string>
	<key>L.mod08</key>
	<string>L_.mod08.glif</string>
	<key>L.mod09</key>
	<string>L_.mod09.glif</string>
	<key>L.mod10</key>
	<string>L_.mod10.glif</string>
	<key>L.mod11</key>
	<string>L_.mod11.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.mod01</key>
	<string>M_.mod01.glif</string>
	<key>M.mod02</key>
	<string>M_.mod02.glif</string>
	<key>M.mod03</key>
	<string>M_.mod03.glif</string>
	<key>M.mod04</key>
	<string>M_.mod04.glif</string>
	<key>M.mod05</key>
	<string>M_.mod05.glif</string>
	<key>M.mod06</key>
	<string>M_.mod06.glif</string>
	<key>M.mod07</key>
	<string>M_.mod07.glif</string>
	<key>M.mod08</key>
	<string>M_.mod08.glif</string>
	<key>M.mod09</key>
	<string>M_.mod09.glif</string>
	<key>M.mod10</key>
	<string>M_.mod10.glif</string>
	<key>M.mod11</key>
	<string>M_.mod11.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.mod01</key>
	<string>N_.mod01.glif</string>
	<key>N.mod02</key>
	<string>N_.mod02.glif</string>
	<key>N.mod03</key>
	<string>N_.mod03.glif</string>
	<key>N.mod04</key>
	<string>N_.mod04.glif</string>
	<key>N.mod05</key>
	<string>N_.mod05.glif</string>
	<key>N.mod06</key>
	<string>N_.mod06.glif</string>
	<key>N.mod07</key>
	<string>N_.mod07.glif</string>
	<key>N.mod08</key>
	<string>N_.mod08.glif</string>
	<key>N.mod09</key>
	<string>N_.mod09.glif</string>
	<key>N.mod10</key>
	<string>N_.mod10.glif</string>
	<key>N.mod11</key>
	<string>N_.mod11.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.mod01</key>
	<string>O_.mod01.glif</string>
	<key>O.mod02</key>
	<string>O_.mod02.glif</string>
	<key>O.mod03</key>
	<string>O_.mod03.glif</string>
	<key>O.mod04</key>
	<string>O_.mod04.glif</string>
	<key>O.mod05</key>
	<string>O_.mod05.glif</string>
	<key>O.mod06</key>
	<string>O_.mod06.glif</string>
	<key>O.mod07</key>
	<string>O_.mod07.glif</string>
	<key>O.mod08</key>
	<string>O_.mod08.glif</string>
	<key>O.mod09</key>
	<string>O_.mod09.glif</string>
	<key>O.mod10</key>
	<string>O_.mod10.glif</string>
	<key>O.mod11</key>
	<string>O_.mod11.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.mod01</key>
	<string>P_.mod01.glif</string>
	<key>P.mod02</key>
	<string>P_.mod02.glif</string>
	<key>P.mod03</key>
	<string>P_.mod03.glif</string>
	<key>P.mod04</key>
	<string>P_.mod04.glif</string>
	<key>P.mod05</key>
	<string>P_.mod05.glif</string>
	<key>P.mod06</key>
	<string>P_.mod06.glif</string>
	<key>P.mod07</key>
	<string>P_.mod07.glif</string>
	<key>P.mod08</key>
	<string>P_.mod08.glif</string>
	<key>P.mod09</key>
	<string>P_.mod09.glif</string>
	<key>P.mod10</key>
	<string>P_.mod10.glif</string>
	<key>P.mod11</key>
	<string>P_.mod11.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.mod01</key>
	<string>Q_.mod01.glif</string>
	<key>Q.mod02</key>
	<string>Q_.mod02.glif</string>
	<key>Q.mod03</key>
	<string>Q_.mod03.glif</string>
	<key>Q.mod04</key>
	<string>Q_.mod04.glif</string>
	<key>Q.mod05</key>
	<string>Q_.mod05.glif</string>
	<key>Q.mod06</key>
	<string>Q_.mod06.glif</string>
	<key>Q.mod07</key>
	<string>Q_.mod07.glif</string>
	<key>Q.mod08</key>
	<string>Q_.mod08.glif</string>
	<key>Q.mod09</key>
	<string>Q_.mod09.glif</string>
	<key>Q.mod10</key>
	<string>Q_.mod10.glif</string>
	<key>Q.mod11</key>
	<string>Q_.mod11.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.mod01</key>
	<string>R_.mod01.glif</string>
	<key>R.mod02</key>
	<string>R_.mod02.glif</string>
	<key>R.mod03</key>
	<string>R_.mod03.glif</string>
	<key>R.mod04</key>
	<string>R_.mod04.glif</string>
	<key>R.mod05</key>
	<string>R_.mod05.glif</string>
	<key>R.mod06</key>
	<string>R_.mod06.glif</string>
	<key>R.mod07</key>
	<string>R_.mod07.glif</string>
	<key>R.mod08</key>
	<string>R_.mod08.glif</string>
	<key>R.mod09</key>
	<string>R_.mod09.glif</string>
	<key>R.mod10</key>
	<string>R_.mod10.glif</string>
	<key>R.mod11</key>
	<string>R_.mod11.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.mod01</key>
	<string>S_.mod01.glif</string>
	<key>S.mod02</key>
	<string>S_.mod02.glif</string>
	<key>S.mod03</key>
	<string>S_.mod03.glif</string>
	<key>S.mod04</key>
	<string>S_.mod04.glif</string>
	<key>S.mod05</key>
	<string>S_.mod05.glif</string>
	<key>S.mod06</key>
	<string>S_.mod06.glif</string>
	<key>S.mod07</key>
	<string>S_.mod07.glif</string>
	<key>S.mod08</key>
	<string>S_.mod08.glif</string>
	<key>S.mod09</key>
	<string>S_.mod09.glif</string>
	<key>S.mod10</key>
	<string>S_.mod10.glif</string>
	<key>S.mod11</key>
	<string>S_.mod11.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.mod01</key>
	<string>T_.mod01.glif</string>
	<key>T.mod02</key>
	<string>T_.mod02.glif</string>
	<key>T.mod03</key>
	<string>T_.mod03.glif</string>
	<key>T.mod04</key>
	<string>T_.mod04.glif</string>
	<key>T.mod05</key>
	<string>T_.mod05.glif</string>
	<key>T.mod06</key>
	<string>T_.mod06.glif</string>
	<key>T.mod07</key>
	<string>T_.mod07.glif</string>
	<key>T.mod08</key>
	<string>T_.mod08.glif</string>
	<key>T.mod09</key>
	<string>T_.mod09.glif</string>
	<key>T.mod10</key>
	<string>T_.mod10.glif</string>
	<key>T.mod11</key>
	<string>T_.mod11.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.mod01</key>
	<string>U_.mod01.glif</string>
	<key>U.mod02</key>
	<string>U_.mod02.glif</string>
	<key>U.mod03</key>
	<string>U_.mod03.glif</string>
	<key>U.mod04</key>
	<string>U_.mod04.glif</string>
	<key>U.mod05</key>
	<string>U_.mod05.glif</string>
	<key>U.mod06</key>
	<string>U_.mod06.glif</string>
	<key>U.mod07</key>
	<string>U_.mod07.glif</string>
	<key>U.mod08</key>
	<string>U_.mod08.glif</string>
	<key>U.mod09</key>
	<string>U_.mod09.glif</string>
	<key>U.mod10</key>
	<string>U_.mod10.glif</string>
	<key>U.mod11</key>
	<string>U_.mod11.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.mod01</key>
	<string>V_.mod01.glif</string>
	<key>V.mod02</key>
	<string>V_.mod02.glif</string>
	<key>V.mod03</key>
	<string>V_.mod03.glif</string>
	<key>V.mod04</key>
	<string>V_.mod04.glif</string>
	<key>V.mod05</key>
	<string>V_.mod05.glif</string>
	<key>V.mod06</key>
	<string>V_.mod06.glif</string>
	<key>V.mod07</key>
	<string>V_.mod07.glif</string>
	<key>V.mod08</key>
	<string>V_.mod08.glif</string>
	<key>V.mod09</key>
	<string>V_.mod09.glif</string>
	<key>V.mod10</key>
	<string>V_.mod10.glif</string>
	<key>V.mod11</key>
	<string>V_.mod11.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.mod01</key>
	<string>W_.mod01.glif</string>
	<key>W.mod02</key>
	<string>W_.mod02.glif</string>
	<key>W.mod03</key>
	<string>W_.mod03.glif</string>
	<key>W.mod04</key>
	<string>W_.mod04.glif</string>
	<key>W.mod05</key>
	<string>W_.mod05.glif</string>
	<key>W.mod06</key>
	<string>W_.mod06.glif</string>
	<key>W.mod07</key>
	<string>W_.mod07.glif</string>
	<key>W.mod08</key>
	<string>W_.mod08.glif</string>
	<key>W.mod09</key>
	<string>W_.mod09.glif</string>
	<key>W.mod10</key>
	<string>W_.mod10.glif</string>
	<key>W.mod11</key>
	<string>W_.mod11.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.mod01</key>
	<string>X_.mod01.glif</string>
	<key>X.mod02</key>
	<string>X_.mod02.glif</string>
	<key>X.mod03</key>
	<string>X_.mod03.glif</string>
	<key>X.mod04</key>
	<string>X_.mod04.glif</string>
	<key>X.mod05</key>
	<string>X_.mod05.glif</string>
	<key>X.mod06</key>
	<string>X_.mod06.glif</string>
	<key>X.mod07</key>
	<string>X_.mod07.glif</string>
	<key>X.mod08</key>
	<string>X_.mod08.glif</string>
	<key>X.mod09</key>
	<string>X_.mod09.glif</string>
	<key>X.mod10</key>
	<string>X_.mod10.glif</string>
	<key>X.mod11</key>
	<string>X_.mod11.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.mod01</key>
	<string>Y_.mod01.glif</string>
	<key>Y.mod02</key>
	<string>Y_.mod02.glif</string>
	<key>Y.mod03</key>
	<string>Y_.mod03.glif</string>
	<key>Y.mod04</key>
	<string>Y_.mod04.glif</string>
	<key>Y.mod05</key>
	<string>Y_.mod05.glif</string>
	<key>Y.mod06</key>
	<string>Y_.mod06.glif</string>
	<key>Y.mod07</key>
	<string>Y_.mod07.glif</string>
	<key>Y.mod08</key>
	<string>Y_.mod08.glif</string>
	<key>Y.mod09</key>
	<string>Y_.mod09.glif</string>
	<key>Y.mod10</key>
	<string>Y_.mod10.glif</string>
	<key>Y.mod11</key>
	<string>Y_.mod11.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.mod01</key>
	<string>Z_.mod01.glif</string>
	<key>Z.mod02</key>
	<string>Z_.mod02.glif</string>
	<key>Z.mod03</key>
	<string>Z_.mod03.glif</string>
	<key>Z.mod04</key>
	<string>Z_.mod04.glif</string>
	<key>Z.mod05</key>
	<string>Z_.mod05.glif</string>
	<key>Z.mod06</key>
	<string>Z_.mod06.glif</string>
	<key>Z.mod07</key>
	<string>Z_.mod07.glif</string>
	<key>Z.mod08</key>
	<string>Z_.mod08.glif</string>
	<key>Z.mod09</key>
	<string>Z_.mod09.glif</string>
	<key>Z.mod10</key>
	<string>Z_.mod10.glif</string>
	<key>Z.mod11</key>
	<string>Z_.mod11.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.mod01</key>
	<string>eight.mod01.glif</string>
	<key>eight.mod02</key>
	<string>eight.mod02.glif</string>
	<key>eight.mod03</key>
	<string>eight.mod03.glif</string>
	<key>eight.mod04</key>
	<string>eight.mod04.glif</string>
	<key>eight.mod05</key>
	<string>eight.mod05.glif</string>
	<key>eight.mod06</key>
	<string>eight.mod06.glif</string>
	<key>eight.mod07</key>
	<string>eight.mod07.glif</string>
	<key>eight.mod08</key>
	<string>eight.mod08.glif</string>
	<key>eight.mod09</key>
	<string>eight.mod09.glif</string>
	<key>eight.mod10</key>
	<string>eight.mod10.glif</string>
	<key>eight.mod11</key>
	<string>eight.mod11.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.mod01</key>
	<string>five.mod01.glif</string>
	<key>five.mod02</key>
	<string>five.mod02.glif</string>
	<key>five.mod03</key>
	<string>five.mod03.glif</string>
	<key>five.mod04</key>
	<string>five.mod04.glif</string>
	<key>five.mod05</key>
	<string>five.mod05.glif</string>
	<key>five.mod06</key>
	<string>five.mod06.glif</string>
	<key>five.mod07</key>
	<string>five.mod07.glif</string>
	<key>five.mod08</key>
	<string>five.mod08.glif</string>
	<key>five.mod09</key>
	<string>five.mod09.glif</string>
	<key>five.mod10</key>
	<string>five.mod10.glif</string>
	<key>five.mod11</key>
	<string>five.mod11.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.mod01</key>
	<string>four.mod01.glif</string>
	<key>four.mod02</key>
	<string>four.mod02.glif</string>
	<key>four.mod03</key>
	<string>four.mod03.glif</string>
	<key>four.mod04</key>
	<string>four.mod04.glif</string>
	<key>four.mod05</key>
	<string>four.mod05.glif</string>
	<key>four.mod06</key>
	<string>four.mod06.glif</string>
	<key>four.mod07</key>
	<string>four.mod07.glif</string>
	<key>four.mod08</key>
	<string>four.mod08.glif</string>
	<key>four.mod09</key>
	<string>four.mod09.glif</string>
	<key>four.mod10</key>
	<string>four.mod10.glif</string>
	<key>four.mod11</key>
	<string>four.mod11.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.mod01</key>
	<string>nine.mod01.glif</string>
	<key>nine.mod02</key>
	<string>nine.mod02.glif</string>
	<key>nine.mod03</key>
	<string>nine.mod03.glif</string>
	<key>nine.mod04</key>
	<string>nine.mod04.glif</string>
	<key>nine.mod05</key>
	<string>nine.mod05.glif</string>
	<key>nine.mod06</key>
	<string>nine.mod06.glif</string>
	<key>nine.mod07</key>
	<string>nine.mod07.glif</string>
	<key>nine.mod08</key>
	<string>nine.mod08.glif</string>
	<key>nine.mod09</key>
	<string>nine.mod09.glif</string>
	<key>nine.mod10</key>
	<string>nine.mod10.glif</string>
	<key>nine.mod11</key>
	<string>nine.mod11.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.mod01</key>
	<string>one.mod01.glif</string>
	<key>one.mod02</key>
	<string>one.mod02.glif</string>
	<key>one.mod03</key>
	<string>one.mod03.glif</string>
	<key>one.mod04</key>
	<string>one.mod04.glif</string>
	<key>one.mod05</key>
	<string>one.mod05.glif</string>
	<key>one.mod06</key>
	<string>one.mod06.glif</string>
	<key>one.mod07</key>
	<string>one.mod07.glif</string>
	<key>one.mod08</key>
	<string>one.mod08.glif</string>
	<key>one.mod09</key>
	<string>one.mod09.glif</string>
	<key>one.mod10</key>
	<string>one.mod10.glif</string>
	<key>one.mod11</key>
	<string>one.mod11.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.mod01</key>
	<string>seven.mod01.glif</string>
	<key>seven.mod02</key>
	<string>seven.mod02.glif</string>
	<key>seven.mod03</key>
	<string>seven.mod03.glif</string>
	<key>seven.mod04</key>
	<string>seven.mod04.glif</string>
	<key>seven.mod05</key>
	<string>seven.mod05.glif</string>
	<key>seven.mod06</key>
	<string>seven.mod06.glif</string>
	<key>seven.mod07</key>
	<string>seven.mod07.glif</string>
	<key>seven.mod08</key>
	<string>seven.mod08.glif</string>
	<key>seven.mod09</key>
	<string>seven.mod09.glif</string>
	<key>seven.mod10</key>
	<string>seven.mod10.glif</string>
	<key>seven.mod11</key>
	<string>seven.mod11.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.mod01</key>
	<string>six.mod01.glif</string>
	<key>six.mod02</key>
	<string>six.mod02.glif</string>
	<key>six.mod03</key>
	<string>six.mod03.glif</string>
	<key>six.mod04</key>
	<string>six.mod04.glif</string>
	<key>six.mod05</key>
	<string>six.mod05.glif</string>
	<key>six.mod06</key>
	<string>six.mod06.glif</string>
	<key>six.mod07</key>
	<string>six.mod07.glif</string>
	<key>six.mod08</key>
	<string>six.mod08.glif</string>
	<key>six.mod09</key>
	<string>six.mod09.glif</string>
	<key>six.mod10</key>
	<string>six.mod10.glif</string>
	<key>six.mod11</key>
	<string>six.mod11.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>space.mod01</key>
	<string>space.mod01.glif</string>
	<key>space.mod02</key>
	<string>space.mod02.glif</string>
	<key>space.mod03</key>
	<string>space.mod03.glif</string>
	<key>space.mod04</key>
	<string>space.mod04.glif</string>
	<key>space.mod05</key>
	<string>space.mod05.glif</string>
	<key>space.mod06</key>
	<string>space.mod06.glif</string>
	<key>space.mod07</key>
	<string>space.mod07.glif</string>
	<key>space.mod08</key>
	<string>space.mod08.glif</string>
	<key>space.mod09</key>
	<string>space.mod09.glif</string>
	<key>space.mod10</key>
	<string>space.mod10.glif</string>
	<key>space.mod11</key>
	<string>space.mod11.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.mod01</key>
	<string>three.mod01.glif</string>
	<key>three.mod02</key>
	<string>three.mod02.glif</string>
	<key>three.mod03</key>
	<string>three.mod03.glif</string>
	<key>three.mod04</key>
	<string>three.mod04.glif</string>
	<key>three.mod05</key>
	<string>three.mod05.glif</string>
	<key>three.mod06</key>
	<string>three.mod06.glif</string>
	<key>three.mod07</key>
	<string>three.mod07.glif</string>
	<key>three.mod08</key>
	<string>three.mod08.glif</string>
	<key>three.mod09</key>
	<string>three.mod09.glif</string>
	<key>three.mod10</key>
	<string>three.mod10.glif</string>
	<key>three.mod11</key>
	<string>three.mod11.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.mod01</key>
	<string>two.mod01.glif</string>
	<key>two.mod02</key>
	<string>two.mod02.glif</string>
	<key>two.mod03</key>
	<string>two.mod03.glif</string>
	<key>two.mod04</key>
	<string>two.mod04.glif</string>
	<key>two.mod05</key>
	<string>two.mod05.glif</string>
	<key>two.mod06</key>
	<string>two.mod06.glif</string>
	<key>two.mod07</key>
	<string>two.mod07.glif</string>
	<key>two.mod08</key>
	<string>two.mod08.glif</string>
	<key>two.mod09</key>
	<string>two.mod09.glif</string>
	<key>two.mod10</key>
	<string>two.mod10.glif</string>
	<key>two.mod11</key>
	<string>two.mod11.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.mod01</key>
	<string>zero.mod01.glif</string>
	<key>zero.mod02</key>
	<string>zero.mod02.glif</string>
	<key>zero.mod03</key>
	<string>zero.mod03.glif</string>
	<key>zero.mod04</key>
	<string>zero.mod04.glif</string>
	<key>zero.mod05</key>
	<string>zero.mod05.glif</string>
	<key>zero.mod06</key>
	<string>zero.mod06.glif</string>
	<key>zero.mod07</key>
	<string>zero.mod07.glif</string>
	<key>zero.mod08</key>
	<string>zero.mod08.glif</string>
	<key>zero.mod09</key>
	<string>zero.mod09.glif</string>
	<key>zero.mod10</key>
	<string>zero.mod10.glif</string>
	<key>zero.mod11</key>
	<string>zero.mod11.glif</string>
</dict>
</plist>
